@model HiddenMickeyProject.Data.Area

@{
    ViewBag.Title = "CreateArea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Area</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Area</legend>
        @Html.HiddenFor(model => model.RegionId)
        <div class="editor-label">
            Area Name
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AreaName)
            @Html.ValidationMessageFor(model => model.AreaName)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
