@using HiddenMickeyProject.Data
@model HiddenMickeyProject.Models.Navigator

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Navigator</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RegionName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegionName)
    </div>
    @Html.ActionLink("Add Area", "CreateArea", new { Area="Editor", RegionName=Model.RegionName },null)
    @Html.Partial("AreaList", Model);
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
