@using HiddenMickeyProject.Data
@model HiddenMickeyProject.Models.Navigator

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Navigator</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RegionName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegionName)
    </div>
    <table>
        <tr><th>Area Name</th><th></th></tr>
        @foreach (Area item in Model.Areas)
        {
            <tr>
                <td>@item.AreaName</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { Area = "Editor", AreaName = item.AreaName, RegionName = Model.RegionName },null);
                </td>
            </tr>
        }
    </table>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
