@model HiddenMickeyProject.Models.RegionViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Details</h2>
<fieldset>
    <legend>Region</legend>
    <div class="col-xs-12 col-sm-6">
        <table>
            <tbody>
                <tr>
                    <td>
                        Region Name
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.RegionName)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 col-sm-6">
        <ul>
                <li>
                    @Html.RouteLink("Add Area", "area_default", new { RegionName = Model.RegionName, Action = "Create" }, new { })
                </li>
                <li>
                    @Html.RouteLink("Edit", "region_default", new { RegionName = Model.RegionName, Action = "Edit" })
                </li>
                <li>
                    @Html.ActionLink("Back to List", "Index")
                </li>
        </ul>
    </div>
</fieldset>
<div>
    @Html.Partial("Areas", Model.Areas)
</div>