@model HiddenMickeyProject.Models.Navigator

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Region</legend>
        @Html.HiddenFor(model => model.RegionId)
        <div class="editor-label">
            Region Name
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RegionName)
            @Html.ValidationMessageFor(model => model.RegionName)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
    @Html.ActionLink("Add Area", "CreateArea", new { Area = "Editor", RegionName = Model.RegionName }, null)
    @Html.Partial("AreaList", Model)
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
