<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - The Hidden Mickey Project</title>
        <meta name="viewport" content="width=device-width, initial-zoom:1" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="container">
            <a href="@Url.RouteUrl("Default", new { Action="Index", Controller="Home" })">
                <header class="row">
                </header>
            </a>
            <section class="row">
			    <nav class="col-sm-12">
				    <ul class="nav nav-tabs">
                        @RenderSection("navlinks", required: false)
				    </ul>
			    </nav>
                @RenderBody()
            </section>
            <footer>
                    &copy; @DateTime.Now.Year - The Hidden Mickey Project
            </footer>
        </div>
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
