<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - The Hidden Mickey Project</title>
        <meta name="viewport" content="width=device-width, initial-zoom:1" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
        </header>
        <div id="body">
            <section class="container">
                @RenderSection("featured", required: false)
            </section>
            <section class="container">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <p>&copy; @DateTime.Now.Year - The Hidden Mickey Project</p>
            </div>
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
