<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - The Hidden Mickey Project</title>
        <meta name="viewport" content="width=device-width, initial-zoom:1" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body class="container">
        <header class="row">
            <h1>The Hidden Mickey Project</h1>
            <hgroup class="cols-sm-12">
				A better way to search for Hidden Mickeys.
			</hgroup>
			<nav>
				<ul class="nav nav-tabs">
                    @RenderSection("navlinks", required: false)
				</ul>
			</nav>
        </header>
        <section class="row">
            @RenderBody()
        </section>
        <footer>
                &copy; @DateTime.Now.Year - The Hidden Mickey Project
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
