@model HiddenMickeyProject.Models.AreaViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Details</h2>
<fieldset>
    <legend>Area View Model</legend>
    <div class="col-xs-12 col-sm-6">
        <table>
            <tbody>
                <tr>
                    <td>
                        Region Name
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.RegionName)
                    </td>
                </tr>
                <tr>
                    <td>
                        Area Name
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.AreaName)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 col-sm-6">
        <ul>
            <li>
                @Html.RouteLink("Create Location", "location_default", new { RegionName = Model.RegionName, AreaName=Model.AreaName, Action = "Create" }, new { })
            </li>
            <li>
                @Html.RouteLink("Edit", "area_default", new { RegionName = Model.RegionName, AreaName=Model.AreaName, Action = "Edit" }, new { })
            </li>
            <li>
                @Html.RouteLink("Back to List", "region_default", new { RegionName = Model.RegionName, Action = "Details" }, new { })
            </li>
        </ul>
    </div>
</fieldset>
<div>
    @Html.Partial("Locations", Model.Locations)
</div>