@model IEnumerable<HiddenMickeyProject.Models.LocationViewModel>
<table>
	<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocationName)
        </th>
        <th></th>
    </tr>
	</thead>
	<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LocationName)
        </td>
        <td>
            @Html.RouteLink("Edit", "location_default", new { RegionName = item.RegionName, AreaName=item.AreaName, LocationName=item.LocationName, Action = "Edit" }, new { }) |
            @Html.RouteLink("Details", "location_default", new { RegionName = item.RegionName, AreaName = item.AreaName, LocationName = item.LocationName, Action = "Details" }, new { })  |
            @Html.RouteLink("Delete", "location_default", new { RegionName = item.RegionName, AreaName = item.AreaName, LocationName = item.LocationName, Action = "Delete" }, new { })
        </td>
    </tr>
}
	</tbody>
</table>
