@using HiddenMickeyProject.Data
@model HiddenMickeyProject.Models.Navigator

@{
    ViewBag.Title = "ScavengerHunt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section navlinks{
    @foreach(Area item in Model.Areas)
    {
        if(item.AreaName==Model.AreaName)
        {
            <li class="active">@Html.RouteLink(@item.AreaName, "scavenger-hunt", new { RegionName = Model.RegionName, AreaName = item.AreaName })</li>
        }
        else
        {
            <li>@Html.RouteLink(@item.AreaName, "scavenger-hunt", new { RegionName = Model.RegionName, AreaName = item.AreaName })</li>
        }
    }
}


<nav class="col-sm-12 col-md-2">
	<ul class="nav nav-pills nav-stacked">
        @foreach (Location item in Model.Locations)
        {
            if (item.LocationName == Model.LocationName)
            {
                <li class="active">@Html.RouteLink(@item.LocationName, "scavenger-hunt", new { RegionName = Model.RegionName, AreaName = Model.AreaName, LocationName = item.LocationName })</li>
            }
            else
            {
                <li>@Html.RouteLink(@item.LocationName, "scavenger-hunt", new { RegionName = Model.RegionName, AreaName = Model.AreaName, LocationName = item.LocationName })</li>
            }            
        }
	</ul>
</nav>
<div class="scrollable col-sm-12 col-md-10">
	Tap hint to see clue
	<article>
		<div class="hint">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		</div>
		<div class="clue">
			Nulla vitae ante fermentum, mollis tortor id, imperdiet justo.
		</div>
	</article>
	<article>
		<div class="hint">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		</div>
		<div class="clue">
			Nulla vitae ante fermentum, mollis tortor id, imperdiet justo.
		</div>
	</article>
	<article>
		<div class="hint">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		</div>
		<div class="clue">
			Nulla vitae ante fermentum, mollis tortor id, imperdiet justo.
		</div>
	</article>
	<article>
		<div class="hint">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		</div>
		<div class="clue">
			Nulla vitae ante fermentum, mollis tortor id, imperdiet justo.
		</div>
	</article>
</div>
@section scripts{
<script type="text/javascript">
			$(document).ready(function(){
				$('.scrollable article').each(function(){
					var clue = $(this).find('.clue');
					var hint = $(this).find('.hint');
					clue.css('display','none');
					hint.bind('click',function(){
						clue.slideToggle();
					});					
				});
			});	
            </script>
        }
