@model HiddenMickeyProject.Models.Navigator
<fieldset>
    <legend>Area</legend>

    @Html.HiddenFor(model => model.RegionName)
    @Html.HiddenFor(model => model.AreaId)
    @Html.HiddenFor(model => model.RegionId)
    <div class="editor-label">
        Name
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.AreaName)
        @Html.ValidationMessageFor(model => model.AreaName)
    </div>

    <p>
        <input type="submit" value="Save" />
    </p>
</fieldset>